* {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.container {
    height: 100vh;
}
.nav {
    display: flex;
    background-color: #1F2937;
    height: 450px;
    flex-direction: column;
    padding-top: 10px;
    
}
.nav-start {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    margin-left: 200px;
}
.nav-end {
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
    gap: 20px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    padding: 0px;
}
li {
    font-size: 18px;
    color: #E5E7EB;
}
.item1 {
    display: flex;
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.main-class {
    display: flex;
    height: 450px;
    margin:80px 200px;
    
}
.main-left {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.main-left h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;

}
.main-left p {
    font-size: 18px;
    color: #E5E7EB;
}
.main-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}


.button-sign-up {
    margin-top: 8px;
    width: 90px;
    height: 25px;
    border: none;
    color: white;
    background-color: rgb(50, 130, 204);
    border-radius: 5px;
    
}
#main-image {
    width: 600px;
    height: 250px;
    border: none;
    border-radius: 10px;
}

.information {
    flex-direction: column;
    height: 300px;
    display: flex;
    padding-top: 20px;
    align-items: center;
}
.information h2 {
    font-size: 36px;
    font-weight: 800;

}

.cards {
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
.cards img {
    width: 150px;
    height: 150px;
    border: 2px solid rgb(0, 102, 255);
    border-radius: 5%;
}
.card {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    
}
.card p {
    margin-top: 5px;
    text-align: center;
}

.quote {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 200px;
    background-color: #E5E7EB;
    padding: 40px ;
    
}
#text {
    color:#1F2937;
    font-size: 26px;
    font-weight: 300;

}
.quote-author {
    margin-top: 10px;
    margin-left: 620px;
    font-weight: bold;
    font-size: 15px;

}

.call-to-action {
    background-color: #3882F6;
    height: 60px;
    font-size: 26px;
    display: flex;
    margin: 70px 500px;
    padding: 20px 80px;
    align-items: center;
    border-radius: 5px;
    border: none;
    color: #F9FAF8;

}
.call-left {
    display: flex;
    flex-direction: column;
    flex: 2;
}
.call-right {
    display: flex;
    height: 100%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.button-border {
    border-radius: 5px;
    border: 1px solid white;
}
#callText {
    font-size: 18px;
    color: #E5E7EB;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 80px;
    color: #E5E7EB;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}
button:hover {
    cursor: pointer;
}
